body {
  background-image: url('../background.png');
  background-repeat: no-repeat;
  background-position: left bottom;
}

.messages {
  width: 70%;
  margin: 0 auto;
  padding: 1.5em
}

#userInput {
  width: 99%;
  padding: 0.5em 0;
  font-size: 0.85em
}

.showing {
  opacity: 1;
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 350ms ease 0ms, opacity 400ms ease;
}

.hiding {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 350ms ease 0ms, opacity 400ms ease;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #ffffffb6;
}

td, th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #e2e2e2af;
}

th.msg-cell{
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bolder;
}

.msg-cell {
  width: 93%
}

.del-cell {
  width: 7%;
  text-align: center;
}

#btn-clear-all {
    background-color: rgb(151, 0, 0);
  border: none;
  color: white;
  padding: 0.9em 1.2em;
  font-size: 0.6em;
}

.btn-del {
  background: none;
  border: 0;
  color: rgb(151, 0, 0);
}

#btn-clear-all:hover, .btn-del:hover {
  background-color: rgb(110, 0, 0);
  color: white;
}

#all-messages-control {
  margin-bottom: 0;
  padding: 0 1.4em;
}

#show-all {
  background-color:#599bb3;
	border-radius:1.6em;
	border:0.06em solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  /* font-family: "Montserrat", sans-serif; */
	font-size: 0.8em;
	padding: 0.6em 1em;
	text-decoration:none;
  text-shadow:0em 0.06em 0em #3d768a;
  outline: none;
}

#show-all:hover {
  background-color:#408c99;
}

#hide-all {
  background-color:#fc8d83;
	border-radius:1.6em;
	border:0.06em solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  /* font-family: "Montserrat", sans-serif; */
	font-size: 0.8em;
	padding: 0.6em 1em;
	text-decoration:none;
  text-shadow:0em 0.06em 0em #b23e35;
  outline: none;
}

#hide-all:hover {
  background-color:#e4685d;
}

#btn-save {
  background-color:#74ad5a;
	border-radius:1.6em;
	border:0.06em solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  /* font-family: "Montserrat", sans-serif; */
	font-size: 0.65em;
	padding: 0.5em 0.9em;
	text-decoration:none;
  text-shadow:0em 0.06em 0em #92b879;
  outline: none;
  margin: 0 0.5em;
}

#btn-save:hover {
  background-color:#68a54b;
}

#btn-clear {
  background-color:#bd5f5f;
	border-radius:1.6em;
	border:0.06em solid #6e2222;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  /* font-family: "Montserrat", sans-serif; */
	font-size: 0.65em;
	padding: 0.5em 0.9em;
	text-decoration:none;
  text-shadow:0em 0.06em 0em #b87979;
  outline: none;
  margin: 0 0.5em;
  display: none;
}

#btn-clear:hover {
  background-color:#a54b4b;
}

#text-input {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.25em;
}

#all-messages{
  padding-top: 0.5em
}