html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.navbar .link {
  display: block;
  text-align: center;
  padding: 1.5em 3em;
  text-decoration: none;
  /* background: #223047; */
  color: #223047;
}

.navbar .link:hover,
.navbar .link:active {
  color: white;
  background: #223047;
}

.navbar div {
  display: none;
}

.navbar .toggle {
  padding: 1em;
  color: black;
}

@media (min-width: 48em) {
  .navbar {
      display: flex;
  }

  .navbar div {
      display: flex;
  }

  .navbar .right {
      display: flex;
      flex: 1;
  }

  .navbar .link {
      width: auto;
  }

  .navbar .right {
      justify-content: flex-end;
  }

  .navbar .toggle {
      display: none;
  }
}

@media (max-width: 48em) {
  .navbar.active .toggle {
      background: #223047;
      color: white;
  }

  .navbar.active div {
      display: block;
  }
}

.messages {
  width: 50%;
  margin: 0 auto;
  padding: 1.5em
}

#userInput {
  width: 99%;
  padding: 0.5em 0;
  font-size: 0.85em
}

#title {
  text-align: center;
}

#title h1 {
  font-size: 3em;
  margin: 0
}

.showing {
  opacity: 1;
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 350ms ease 0ms, opacity 400ms ease;
}

.hiding {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 350ms ease 0ms, opacity 400ms ease;
}

/* TODO: fix this styling for actual table elements!! */
table {
  border-collapse: collapse;
  width: 100%;
  display: block;
}

td, th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #e2e2e2af;
}

th.msg-cell{
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bolder;
}

.msg-cell {
  width: 93%
}

.del-cell {
  width: 7%;
  text-align: center;
}

#btn-clear-all {
    background-color: rgb(151, 0, 0);
  border: none;
  color: white;
  padding: 0.9em 1.2em;
  font-size: 0.6em;
}

.btn-del {
  background: none;
  border: 0;
  color: rgb(151, 0, 0);
}

#btn-clear-all:hover, .btn-del:hover {
  background-color: rgb(110, 0, 0);
  color: white;
}

#all-messages-control {
  margin-bottom: 0;
  padding-bottom: 0
}

#show-all {
  background-color:#599bb3;
	border-radius:1.6em;
	border:0.06em solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  /* font-family: "Montserrat", sans-serif; */
	font-size: 0.8em;
	padding: 0.6em 1em;
	text-decoration:none;
  text-shadow:0em 0.06em 0em #3d768a;
  outline: none;
}

#show-all:hover {
  background-color:#408c99;
}

#hide-all {
  background-color:#fc8d83;
	border-radius:1.6em;
	border:0.06em solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  /* font-family: "Montserrat", sans-serif; */
	font-size: 0.8em;
	padding: 0.6em 1em;
	text-decoration:none;
  text-shadow:0em 0.06em 0em #b23e35;
  outline: none;
}

#hide-all:hover {
  background-color:#e4685d;
}

#btn-save {
  background-color:#74ad5a;
	border-radius:1.6em;
	border:0.06em solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  /* font-family: "Montserrat", sans-serif; */
	font-size: 0.65em;
	padding: 0.5em 0.9em;
	text-decoration:none;
  text-shadow:0em 0.06em 0em #92b879;
  outline: none;
  margin: 0 0.5em;
}

#btn-save:hover {
  background-color:#68a54b;
}

#btn-clear {
  background-color:#bd5f5f;
	border-radius:1.6em;
	border:0.06em solid #6e2222;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  /* font-family: "Montserrat", sans-serif; */
	font-size: 0.65em;
	padding: 0.5em 0.9em;
	text-decoration:none;
  text-shadow:0em 0.06em 0em #b87979;
  outline: none;
  margin: 0 0.5em;
  display: none;
}

#btn-clear:hover {
  background-color:#a54b4b;
}

#text-input {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.25em;
}
