html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.navbar .link {
  display: block;
  text-align: center;
  padding: 1.5em 3em;
  text-decoration: none;
  /* background: #223047; */
  color: #223047;
}

.navbar .link:hover,
.navbar .link:active {
  color: white;
  background: #223047;
}

.navbar div {
  display: none;
}

.navbar .toggle {
  padding: 1em;
  color: black;
}

@media (min-width: 48em) {
  .navbar {
      display: flex;
  }

  .navbar div {
      display: flex;
  }

  .navbar .right {
      display: flex;
      flex: 1;
  }

  .navbar .link {
      width: auto;
  }

  .navbar .right {
      justify-content: flex-end;
  }

  .navbar .toggle {
      display: none;
  }
}

@media (max-width: 48em) {
  .navbar.active .toggle {
      background: #223047;
      color: white;
  }

  .navbar.active div {
      display: block;
  }
}

.messages {
  width: 50%;
  margin: 0 auto;
  padding: 1.5em
}

#userInput {
  width: 90%
}

#title {
  text-align: center;
}

#title h1 {
  font-size: 3em;
  margin: 0
}

/* TODO: fix this styling for actual table elements!! */
table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.msg-cell {
  width: 95%
}

.del-cell {
  width: 5%
}

.btn-del {
  background-color: rgb(184, 0, 0);
  border: none;
  color: white;
  padding: 0.9em 1.2em;
  font-size: 0.6em;
}

.btn-del:hover {
  background-color: rgb(110, 0, 0);
}