.App {
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
}

form {
  width: 80%;
  margin: 0 auto;
  padding: 1em 0;
  text-align: left;
}

input[type=search], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form label {
  font-size: 12px;
}

.form-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.75em;
}

.btn {
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size: 0.65em;
	padding: 0.5em 0.9em;
  outline: none;
  margin: 0 0.5em;
}

#btn-save {
  background-color:#74ad5a;
	border:0.06em solid #3b6e22;
  text-shadow:0em 0.06em 0em #92b879;
}

#btn-save:hover {
  background-color:#68a54b;
}

#btn-clear {
  background-color:#bd5f5f;
	border:0.06em solid #6e2222;
  text-shadow:0em 0.06em 0em #b87979;
}

#btn-clear:hover {
  background-color:#a54b4b;
}

.question-list {
  margin-top: 3em;
}

.question-list h2 {
  font-size: 2.5em;
  color: #223047;
  margin-bottom: 0
}

.list-options {
  border-bottom: 0.05em solid #223047;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 0.75em;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
}

.list-options button {
  background-color: transparent;
  border: none;
  color: rgb(77, 77, 77);
}

.list-options button:hover {
  background-color: #657288;
  color: #ffffff;
}

button.active-filter {
  background-color: #223047;
  color: #ffffff;
}

.filters {
  width: 25%;
  display: inline-block;
  text-align: left;
  margin: 0;
  padding: 0;
}

.filters p {
  display: inline-block;
  margin: 0;
}

button.delete-all-btn:hover {
  background-color: rgb(110, 0, 0);
  color: #ffffff
}

.question {
  padding: 0.9em;
  margin: 0;
}

.hover {
  background-color: rgba(105, 105, 105, 0.445);
}

.answer-div {
  background-color: #408c99;
  margin: 0 auto;
  width: 80%;
  color: white;
}

.showing {
  opacity: 1;
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 350ms ease 0ms, opacity 400ms ease;
}

.hiding {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 350ms ease 0ms, opacity 400ms ease;
}

.answer {
  margin-top: 0;
  padding: 0.5em 0;
}

.item-options {
  padding: 0.6em 0;
}

button {
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size: 0.8em;
    padding: 0.6em 1em;
    margin: 0 0.5em;
    text-decoration:none;
    outline: none;
}

.answer-btn {
  background-color:#599bb3;
  border:0.06em solid #29668f;
  text-shadow:0em 0.06em 0em #3d768a;
}
  
.answer-btn:hover {
  background-color:#408c99;
}

.detail-btn {
  background-color:#fc8d83;
	border:0.06em solid #d83526;
  text-shadow:0em 0.06em 0em #b23e35;
}

.detail-btn:hover {
  background-color:#e4685d;
}

.form-row-2 {
  display: flex;
  justify-content: space-between
}

.form-answer {
  width: 75%
}

.form-category {
  width: 25%;
  padding: 0 8px;
}

.details-modal {
  border: 1px solid black;
  z-index: 1;
  width: 50%;
  margin: 0 auto;
  padding: 8px;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

.close-modal-btn {
  background: none;
  border: 0;
  color: rgb(151, 0, 0);
  font-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
  padding: 0;
  float: right;
}

.close-modal-btn:hover {
  background-color: rgb(110, 0, 0);
  color: white;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #223047;
  padding: 0.2em;
  align-items: center
}

.modal-header h2 {
  margin: 0;
  font-size: 1.5em;
  color: #223047
}

.modal {
  backdrop-filter: grayscale(0.5) opacity(0.8) blur(4px);
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}