.App {
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
  min-height: 50px
}

form {
  width: 80%;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: left;
}

input[type=search], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form label {
  font-size: 12px;
}

input[type=submit] {
  width: 49%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=reset] {
  width: 49%;
  background-color: #E15554;
  color: white;
  padding: 14px 20px;
  margin: 8px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}